.container {
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}

.header {
    padding: 0.5%;
    display: flex;
    flex-direction: row;
    background-color: #cce3f8;
    width: 100%;
    justify-content: flex-end;
}